body{
  font-family: "Barlow", sans-serif;
  color: rgba(81, 81, 81, 0.6);
}

nav{
  background-color: rgba(199, 199, 199, 0.6);
}

.container-fluid img{
  filter: brightness(75%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container-fluid .btn{
  align-items: center;
}

.centered {
  font-size: 60px;
  color: white;
  margin: 150px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered .btn{
  color: white;
  width: 300px;
  height: auto;
  margin: 150px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(81, 81, 81, 0.6); 
}

.bottom-centered{
  color: rgba(114, 114, 114, 0.6);
  width: auto;
  height: 80px;
  margin: -160px 0;
}

.bottom-centered .btn{
  color: white;
  width: 300px;
  height: auto;
  margin: 650px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(81, 81, 81, 0.6); 
}
